@use "../../mixins" as *;
@use "../../presets" as *;

.posts {
  @extend %section;

  &__container {
    @extend %container;

    @include lg-md {
      h2 {
        margin-bottom: 2.625rem;
        font-size: 2rem;
      }

    }

    @include md-sm {
      h2 {
        margin-bottom: 2.25rem;
        font-size: 1.5rem;
      }
    }

    @include sm {
      h2 {
        margin-bottom: 2.25rem;
        text-align: center;
        font-size: 1.5rem;
      }
    }

  }

  &__grid {
    display: grid;
    padding-bottom: $gap;
    gap: $gap;

    @include lg-min {
      grid-template-areas: "a1 a1 a2 a3""a4 a5 a6 a6";
      grid-template-columns: repeat(4, 1fr);
    }

    @include lg-md {
      grid-template-areas: "a1 a1 a2""a3 a4 a4""a5 a5 a6";
      grid-template-columns: repeat(3, 1fr);
    }

    @include md-sm {
      grid-template-areas: "a1 a2""a3 a4""a5 a6";
      grid-template-columns: 1fr 1fr;
    }

    @include sm {
      grid-template-areas: "a1""a2""a3""a4""a5""a6";
    }
  }

  &__actions {
    @include sm-min {
      display: flex;
      justify-content: center;
    }

    .btn--primary {
      @include sm-min {
        min-width: 350px;
      }

      @include sm {
        width: 100%;
      }
    }
  }
}

.post-item {
  transition: background-color 0.5s;
  background-color: lighten($color-gray-light, 5%);

  &:hover {
    background-color: darken($color-gray-light, 5%);

    .post-item__image img {
      transform: scale(1.1);
    }

    h3 {
      color: $color-primary;
    }

    p {
      color: $color-primary;
    }
  }

  &__link {
    display: grid;
    overflow: hidden;
    grid-template-rows: 300px 1fr;
    height: 100%;
  }

  &__image {
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: $color-primary;

    img {
      width: 100%;
      transition: transform 0.5s;
      object-fit: cover;
    }
  }

  &__caption {
    display: grid;
    align-content: center;
    padding: $gap;

    h3 {
      transition: color 0.5s;
      text-align: center;

      font-family: $font-header;
    }

    p {
      transition: color 0.5s;
      text-align: center;
    }
  }

  &:nth-of-type(1) {
    grid-area: a1;
  }

  &:nth-of-type(2) {
    grid-area: a2;
  }

  &:nth-of-type(3) {
    grid-area: a3;
  }

  &:nth-of-type(4) {
    grid-area: a4;
  }

  &:nth-of-type(5) {
    grid-area: a5;
  }

  &:nth-of-type(6) {
    grid-area: a6;
  }
}