@use "../../mixins" as *;
@use "../../presets" as *;



.footer {
  width: 100%;
  text-align: center;
  background-color: $color-primary;
  padding: 50px 20px 70px 20px;

  &__container {
    @extend %container;
  }

  &__social {
    display: grid;
    position: relative;
    justify-content: center;
    margin-bottom: 40px;
    grid-template-columns: repeat(auto-fit, minmax(50px, max-content));

    &::after {
      position: absolute;
      content: "";
      width: 75px;
      height: 2px;
      bottom: -20px;
      left: calc(50% - 75px / 2);
      background-color: rgba($color-light, 0.1);
    }

    a {
      display: block;
      padding: 10px;
      transition: color 0.5s;

      &:hover,
      &:focus {
        color: $color-accent;
      }
    }

    .fab {
      font-size: 36px;
    }
  }

  &__copy {
    font-size: $font-size;
    text-align: center;

    span {
      margin-bottom: 10px;

      &:nth-of-type(1) {
        letter-spacing: 0.33em;
        font-weight: 100;
        color: $color-gray;
        margin-right: -8px;

        @include sm {
          margin-bottom: -3px;
        }
      }

      &:nth-of-type(2) {
        font-weight: 700;
        color: $color-gray-light;
        letter-spacing: 0.05em;
      }
    }
  }
}