@use "../../presets" as *;
@use "../../mixins" as *;

.header-navbar {

  display: flex;
  flex-grow: 1;

  &__list {
    @include unlist;
    display: flex;
    gap: $gap;
    width: 100%;
    justify-content: flex-end;
    gap: $gap;
  }

  &__item {}

  &__link {
    display: block;
    padding: $gap $gap-sm;
  }
}