@use "../../presets" as *;
@use "../../mixins" as *;

.header-menu {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  right: 0;


  &__container {
    display: flex;
    gap: $gap;
    @extend %container;
  }
}